.main{
    
  
       display: flex;
       justify-content: center;
       
       flex-direction: column;
       width: 50%;
       margin: auto;
      
      background-color: #E6E6E6;
       
       box-shadow: 2px 2px  5px 3px #E6E6E6;
       backdrop-filter: blur(5px);

       padding: 50px;
       border-radius: 200px 200px;
       font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
       
      
       


}

h1,h2{
   text-decoration: underline;
}

h1{
    text-align: center;
}

.header{
    text-align:center ;
    text-decoration: underline;
    font-style: italic;
}

.body{
   
   background-image: linear-gradient(#315D83,#A1A6AA );

    
    
       
}

p{
    padding: 5px;
}

.bg{
    background-color: white;
    height: 30%;
}